.container{
    height: 100vh;
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup{

    margin-top: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    /* border: 1px solid black; */
    box-shadow: 10px 5px 5px grey;
    border-radius: 25px;
    width: fit-content;
    
}
.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
.form>input{
    width: 20rem;
    height: 3rem;
    padding: 1rem;
    border: transparent;
    border-radius: 25px;
    border-bottom: 2px solid orange;
}
.btn{
    margin-bottom: 3rem;
    width: 18rem;
    border-radius:25px ;
}
.form>button:hover{
    box-shadow: 10px 5px 5px grey;
    
    transition: .2s;
}